.wrapper {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    width: 100%;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 20px 20px;
}

.content h1 {
    color: rgb(104, 113, 118);
    font-size: 30px;
    font-weight: 800;
    align-self: center;
}

.add-airfield {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.airfield-info {
    display: flex;
    justify-content: space-around;
}

.airfield-info label {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.airfield-info label span {
    font-size: 17px;
    color: rgb(104, 113, 118);
    margin-right: 20px;
    line-height: 45px;
}

.airfield-info label input {
    min-width: 300px;
    padding: 14px 16px;
    border: 1px solid var(--black);
    border-radius: 20px;
    font-size: 15px;
}

.btn-add-airfield {
    min-width: 200px;
    padding: 12px 12px;
    font-size: 20px;
    align-self: center;
    background-color: #2992DB;
    color: white;
    border: none;
    border-radius: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add-airfield:hover {
    background-color: #2992DB;
}

.field {
    width: 100%;
    float: left;
    padding: 0.45em;
    box-sizing: border-box;
    position: relative;
}

.field-label {
    font-size: 0.85714em;
    font-weight: normal;
    position: absolute;
    top: 8px;
    left: 6px;
    width: 50%;
    padding: 0 0.93333em;
    z-index: 1;
    user-select: none;
    transform: translateY(3px);
    pointer-events: none;
    opacity: 0;
    color: #999999;
    transition: all 0.2s ease-out;
    margin-top: 0.3em;
    display: block;
}

.show-field-label {
    transform: none;
    opacity: 1 !important;
}

.field-input {
    box-shadow: 0 0 0 1px #d9d9d9;
    transition: all 0.2s ease-out;
    background-color: white;
    color: #333333;
    border-radius: 4px;
    display: block;
    width: 50%;
    padding: 16px 8px;
    border: none;
    line-height: 24px;
    font-size: 16px;
}