.row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e0620;
  font-size: 1em;
}

.error404 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
}

.uh-no {
  font-weight: bold;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;

  svg {
    width: 100%;
  //   visibility: hidden;
}
}
  
.align-self-center {
  align-self: center;
}


.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;

  &.green {
    border: 4px solid #2ccf6d;
    color: #0e0620;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background: #2ccf6d;
      z-index: -1;
      transition: 0.2s ease;
    }

    &:hover {
      color: #fff;
      background: #2ccf6d;
      transition: 0.2s ease;

      &:before {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  body {
    display: block;
  }

  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
