.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        width: 100%;
        border: 1px solid var(--black);
        border-radius: 30px;
        padding: 8px 16px;

        .list-customer {
            margin-top: 16px;
        }

        h1 {
            color: rgb(104, 113, 118);
            font-size: 30px;
            font-weight: 800;
        }
    }

}

.customer-of-airline{
    margin-bottom: 16px;

    .flight-number{
        font-size: 24px !important;
        color: var(--primary) !important;
    }

    .customer-table{
        margin-top: 12px;
        border-collapse: collapse;
        width: 100%;
        th, td{
            border: 1px solid #ccc; 
            padding: 8px; 
            text-align: center;
        }
    }
    
    .table-heading{
        background-color: var(--primary);
        color: var(--white);
    }
}


