.wrapper {
    cursor: pointer;
    border-bottom: 1px solid rgb(242, 243, 243);
    padding: 8px 16px;

    &:hover {
        background-color: rgb(242, 243, 243);
    }
}

.info {
    flex: 1;
    display: flex;
}

.icon {
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-right: 8px;
}

.info-airline {
    p {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 23px;
        color: rgba(104, 113, 118, 1);
    }
}