.wrapper {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 20px 20px;

    h1 {
        color: rgb(104, 113, 118);
        font-size: 30px;
        font-weight: 800;
        align-self: center;
    }

    .add-airline {
        display: flex;
        justify-content: space-around;
        margin-top: 35px;
    }
}

.line-info {
    display: flex;
    flex-direction: column;
}

.line-info label {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    span {
        font-size: 20x;
        color: rgb(104, 113, 118);
        margin-right: 12px;
        line-height: 42px;
        margin-right: 15px;
        line-height: 45px;
    }

    input {
        min-width: 260px;
        padding: 14px 16px;
        border: 1px solid var(--black);
        border-radius: 30px;
        font-size: 15px;
    }
}

.btn-add-airline {
    min-width: 150px;
    padding: 8px 12px;
    min-width: 200px;
    padding: 12px 12px;
    font-size: 20px;
    align-self: center;
}

.search-start {
    min-width: 260px;
}

.field {
    width: 100%;
    float: left;
    padding: 0.45em;
    box-sizing: border-box;
    position: relative;
}

.field {
    width: 100%;
    float: left;
    padding: 0.45em;
    box-sizing: border-box;
    position: relative;
}

.field-label {
    font-size: 0.85714em;
    font-weight: normal;
    position: absolute;
    top: 8px;
    left: 6px;
    width: 50%;
    padding: 0 0.93333em;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    opacity: 0;
    color: #999999;
    transition: all 0.2s ease-out;
    margin: 0.5em 0;
    margin-top: 0.3em;
    display: block;
}

.show-field-label {
    transform: none;
    opacity: 1 !important;
}

.field-input {
    box-shadow: 0 0 0 1px #d9d9d9;
    transition: all 0.2s ease-out;
    background-color: white;
    color: #333333;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 16px 8px;
    word-break: normal;
    border: none;
    line-height: 24px;
    font-size: 16px;
}