.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 1300px;
    margin-top: 20px;
}

<<<<<<< HEAD
.content{
=======
.content {
>>>>>>> 2a75d80 (Edit form Addflights)
    width: 84.99999%;
}